@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <h1 class="display-4 fw-bold text-danger">Controle de Finanças e Gastos</h1>
    
    <form asp-controller="Home" asp-action="Cadastro" method="post"> 
      <div class="container">
          <div class="col-md-3">
          </div>
      </div>
    </form>   

